.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: rgba(124, 124, 124, 0.5);
    width: 100%;
    margin-top: 45px !important;
  }

  .footer-li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10%;
    width: auto;
    margin-right: 0.5%;
    padding-left: 0;
    margin-left: 0;
  }

  .footer-li a {
color: white
  }
  
  .company-name {
    color: white !important;
    padding-top: 5px;
    text-transform: uppercase;
  }
  
  .view-repo {
    color: rgb(221, 221, 221) !important;
  }
  