@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

.navtitle-container{
    background-color: rgba(65, 65, 65,.2);
    border: 2px solid rgba(65, 65, 65,.3);
    margin-top: 20px;
}
.navtitle{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: rgb(177, 0, 0);

    font-size: 90px
}

.navtitle-sub {
    text-align: center;
    margin-top: -20px;
    color: rgb(80, 80, 80);
}
